.post {
  max-width: 720px;
  margin: 0 auto;
  padding: 48px 24px;
}

.post img {
  max-width: 100%;
  min-width: 200px;
  margin: 0 auto;
  display: block;
}

.post h1 a,
.post h2 a,
.post h3 a,
.post h4 a,
.post h5 a {
  text-decoration: none;
  cursor: pointer;
  color: var(--link);
}

.likeButton {
  position: fixed;
  bottom: 80px;
  right: 16px;
}

.newsletter {
  max-width: 720px;
  margin: 0 auto;
  padding: 0 24px 48px;
}

.newsletter input {
  padding: 12px;
  margin-bottom: 0;
  border-radius: 4px;
  color: var(--link);
  box-shadow: 2px 2px 0 var(--text-shadow-color);
  font-size: 1rem;
  border: 4px solid transparent;
  background: var(--card-background);
  margin-right: 16px;
}

.newsletter input:focus {
  outline: none;
  border-color: var(--link);
}

.newsletter input::placeholder {
  color: var(--link);
  font-size: 1rem;
}

.newsletter button {
  border-radius: 4px;
  border: 4px solid transparent;
  background-color: var(--link);
  font-size: 1rem;
  padding: 12px;
  color: white;
  cursor: pointer;
}

.pageDivider {
  max-width: 720px;
  margin: 0 auto;
}

@media (max-width: 720px) {
  .newsletter form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .newsletter input {
    margin-bottom: 16px;
    width: auto;
  }

  .pageDivider {
    margin: 0 24px;
  }
}
