.container {
  position: relative;
}

.kakashi {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  transition: transform 0.4s;
  transform: rotate(-50deg);
}

.content {
  padding: 24px;
  background: var(--card-background);
  border-radius: 4px;
  box-shadow: 2px 2px 0 var(--text-shadow-color);
  z-index: 2;
  position: relative;
  border: 2px solid transparent;
}

.container.outline {
  height: 100%;
}

.outline .content {
  background-color: transparent;
  box-shadow: none;
  height: inherit;
}

.outline .content:hover {
  border: 2px solid var(--link);
}

.container:hover .kakashi {
  transform: rotate(-50deg) translateY(-45px) translateX(-45px);
}

@media (prefers-reduced-motion: reduce) {
  .kakashi {
    display: none;
    transition: none;
  }
  .content:hover {
    border: 2px solid var(--link);
  }
}

.content a {
  text-decoration: none;
}

.content h5 {
  margin: 0;
  font-size: 1rem;
}

.content p {
  margin: 8px 0 0;
  color: var(--text-color);
  font-size: 0.8rem;
}

.content img {
  max-width: 100%;
  margin-bottom: 8px;
  border-radius: 4px;
}

@media (max-width: 720px) {
  .kakashi {
    width: 75px;
  }

  .container:hover .kakashi {
    transform: rotate(-50deg) translateY(-30px) translateX(-30px);
  }
}
