.container {
  margin-left: auto;
  margin: auto;
  margin-top: 64px;
  /* max-width: 720px; */
  padding: 24px;
  padding-bottom: 64px;
}

.link {
  text-decoration: none;
}

.divider {
  margin-bottom: 32px;
}

.filter {
  padding: 12px;
  margin: 0;
  border-radius: 4px;
  color: var(--link);
  box-shadow: 2px 2px 0 var(--text-shadow-color);
  border: none;
  font-size: 1rem;
  border: 4px solid transparent;
  width: 60%;
  max-width: 400px;
  background: var(--card-background);
}

.search {
  display: flex;
  align-items: center;
  margin: 0 auto 32px;
}

.results {
  margin-left: 16px;
  font-weight: 600;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
}

.filter:focus {
  outline: none;
  border-color: var(--link);
}

.filter::placeholder {
  color: var(--link);
  font-size: 1rem;
}

.card {
  margin-bottom: 32px;
}

@media (max-width: 720px) {
  .container {
    margin-top: 32px;
  }

  .card {
    margin-bottom: 8px;
  }
}
