.container {
  margin-left: auto;
  margin: auto;
  margin-top: 64px;
  max-width: 720px;
  padding: 24px;
  padding-bottom: 64px;
}

.callout {
  margin-bottom: 8px;
}

.bio {
  margin-top: 8px;
  color: var(--text-color);
  margin-bottom: 24px;
  font-size: 1.3rem;
  font-weight: 500;
  width: 100%;
  max-width: 500px;
}

.bio strong {
  color: var(--link);
}

.socials {
  margin-bottom: 48px;
}

.postCard {
  padding: 3px;
  border-radius: 6px;
  margin-bottom: 48px;
  background: var(--gradient-start);
  background: -webkit-linear-gradient(
    to right,
    var(--gradient-start),
    var(--gradient-end)
  );
  background: linear-gradient(
    to right,
    var(--gradient-start),
    var(--gradient-end)
  );
}

.postCardContent {
  padding: 24px;
  background: var(--card-background);
  border-radius: 4px;
}

.postCard a {
  text-decoration: none;
}

.postCard h5 {
  margin: 0 0 8px;
  font-size: 1rem;
}

.postCard p {
  color: var(--text-color);
  font-size: 0.8rem;
  font-weight: 500;
}

.sectionHeader {
  margin-top: 64px;
}

.dividerContentCard {
  margin-top: 48px;
}

.iframe {
  width: 100%;
  aspect-ratio: 16/9;
  border: none;
}

.intro {
  display: flex;
  align-items: center;
  margin-top: 64px;
}

@media (max-width: 720px) {
  .container {
    margin-top: 32px;
  }

  .intro {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin-top: 0;
    align-items: flex-start;
  }

  .avatar {
    width: 150px;
    margin-left: 0;
  }
}
