.container {
  margin-left: auto;
  margin: auto;
  margin-top: 64px;
  max-width: 720px;
  padding: 24px;
  padding-bottom: 64px;
}

.callout {
  margin-bottom: 8px;
}

.bio {
  margin-top: 8px;
  margin-bottom: 8px;
  color: var(--text-color);
  opacity: 0.8;
}

.blurb {
  margin-bottom: 48px;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.02rem;
  line-height: 1.2rem;
}

.socials {
  margin-bottom: 32px;
}

.postCard {
  padding: 24px;
  background: var(--card-background);
  border-radius: 4px;
  box-shadow: 0 0 0 1px var(--link), 3px 3px 2px var(--text-shadow-color);
  margin-bottom: 48px;
}

.postCard a {
  text-decoration: none;
}

.postCard h5 {
  margin: 0 0 8px;
  font-size: 1rem;
}

.postCard p {
  color: var(--text-color);
  margin-bottom: 0;
  font-size: 0.8rem;
  font-weight: 500;
}

.divider {
  margin-bottom: 80px;
}

.dividerContentCard {
  margin-top: 48px;
}

.iframe {
  width: 100%;
  aspect-ratio: 16/9;
  border: none;
}

.intro {
  display: flex;
  align-items: center;
  margin-top: 64px;
}

.avatar {
  width: 200px;
  border-radius: 50%;
  margin-left: 32px;
}

@media (max-width: 720px) {
  .container {
    margin-top: 32px;
  }

  .intro {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin-top: 0;
    align-items: flex-start;
  }

  .avatar {
    width: 150px;
    margin-left: 0;
  }
}
