.container {
  margin-left: auto;
  margin: auto;
  margin-top: 64px;
  max-width: 960px;
  padding-bottom: 64px;
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 1fr 1fr */
  grid-gap: 32px;
  align-items: flex-start;
}

.image {
  --image-margin: 4px;
}

.image > img {
  display: block;
  max-width: 100%;
}

.image .thumbnails {
  display: grid;
  margin-top: var(--image-margin);
  grid-gap: var(--image-margin);
  grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
}

.image .thumbnails button {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.image .thumbnails img {
  width: 100%;
}

.metadata h1 {
  margin-top: 0;
}

.markup {
  margin: 24px 0;
}

.options {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.inputContainer:first-child {
  margin-right: 16px;
}

.inputContainer {
  flex: 1;
  padding: 3px;
  border-radius: 6px;
  background: var(--gradient-start);
  background: -webkit-linear-gradient(
    to right,
    var(--gradient-start),
    var(--gradient-end)
  );
  background: linear-gradient(
    to right,
    var(--gradient-start),
    var(--gradient-end)
  );
}

.shopInput {
  padding: 12px;
  margin-bottom: 0;
  border-radius: 4px;
  color: var(--text-color);
  font-size: 1rem;
  background: var(--card-background);
  width: 100%;
}

.shopInput::placeholder {
  color: var(--text-color);
  font-size: 1rem;
}

.buyButton {
  border-radius: 4px;
  background-color: var(--card-background);
  font-size: 1rem;
  padding: 12px;
  color: var(--text-color);
  cursor: pointer;
  outline: none;
  border: none;
  width: 100%;
}

.buyButton[disabled] {
  cursor: not-allowed;
  filter: grayscale(1);
}
