.container {
  margin-left: auto;
  margin: auto;
  margin-top: 64px;
  max-width: 960px;
  padding-bottom: 64px;
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 1fr 1fr */
  grid-gap: 32px;
  align-items: flex-start;
}

.image {
  --image-margin: 4px;
}

.image > img {
  display: block;
  max-width: 100%;
}

.image .thumbnails {
  display: grid;
  margin-top: var(--image-margin);
  grid-gap: var(--image-margin);
  grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
}

.image .thumbnails button {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.image .thumbnails img {
  width: 100%;
}

.metadata h1 {
  margin-top: 0;
}

.markup {
  margin: 24px 0;
}

.shopInput {
  padding: 12px;
  margin-bottom: 0;
  border-radius: 4px;
  color: var(--link);
  box-shadow: 2px 2px 0 var(--text-shadow-color);
  font-size: 1rem;
  border: 4px solid transparent;
  background: var(--card-background);
  margin-right: 16px;
}

.shopInput:focus {
  outline: none;
  border-color: var(--link);
}

.shopInput::placeholder {
  color: var(--link);
  font-size: 1rem;
}

.buyButton {
  border-radius: 4px;
  border: 4px solid transparent;
  background-color: var(--link);
  font-size: 1rem;
  padding: 12px;
  color: white;
  cursor: pointer;
  transition: transform ease 0.3s;
}

.buyButton[disabled] {
  cursor: not-allowed;
  filter: grayscale(1);
}

.buyButton:not([disabled]):hover {
  background-color: #ed4091;
}
