.container {
  padding: 24px;
  max-width: 720px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
}

.speakerKit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
}

.divider {
  margin-bottom: 80px;
}

.links li {
  margin-bottom: 16px;
}

@media (max-width: 720px) {
  .container {
    margin-top: 32px;
  }

  .speakerKit {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}
