.container {
  margin-top: -18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.container hr {
  width: 100%;
}

.bio {
  font-size: 0.8rem;
}

@media (max-width: 720px) {
  .container {
    margin-top: 0;
  }

  .bio {
    font-size: 1rem;
  }
}
