.container {
  position: relative;
  padding: 3px;
  border-radius: 6px;
  background: var(--gradient-start);
  background: -webkit-linear-gradient(
    to right,
    var(--gradient-start),
    var(--gradient-end)
  );
  background: linear-gradient(
    to right,
    var(--gradient-start),
    var(--gradient-end)
  );
}

.content {
  padding: 24px;
  background: var(--card-background);
  border-radius: 4px;
  z-index: 2;
  position: relative;
  border: 2px solid transparent;
}

.outline.container {
  height: 100%;
  background: none;
}

.outline .content {
  box-shadow: none;
  height: inherit;
}

.outline.container:hover {
  background: var(--gradient-start);
  background: -webkit-linear-gradient(
    to right,
    var(--gradient-start),
    var(--gradient-end)
  );
  background: linear-gradient(
    to right,
    var(--gradient-start),
    var(--gradient-end)
  );
}

.content a {
  text-decoration: none;
}

.content h5 {
  margin: 0;
  font-size: 1rem;
}

.content p {
  margin: 8px 0 0;
  color: #b1b1b1;
  font-size: 0.85rem;
  font-weight: 500;
  letter-spacing: 0.02rem;
}

.content img {
  max-width: 100%;
  margin-bottom: 8px;
  border-radius: 4px;
}
