html,
body {
  font-family: inter;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  --header-height: 75px;
  --small-text: 0.75rem;
  --transparent-bg: rgba(242, 114, 173, 0.1);
  scroll-padding-top: calc(var(--header-height) + 8px);
}

h1 {
  font-size: 3.052rem;
  font-weight: 800;
  /* text-shadow: 2px 2px 0 var(--text-shadow-color); */
}

h2 {
  font-size: 2.441rem;
  font-weight: 600;
  /* text-shadow: 2px 2px 0 var(--text-shadow-color); */
}

h3 {
  font-size: 1.953rem;
  font-weight: 600;
  /* text-shadow: 1px 1px 0 var(--text-shadow-color); */
}

h4 {
  font-size: 1.563rem;
  font-weight: 600;
  /* text-shadow: 1px 1px 0 var(--text-shadow-color); */
}

h5 {
  font-size: 1.25rem;
  font-weight: 800;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
}

article p {
  line-height: 1.4rem;
}

article p,
article blockquote {
  margin-bottom: 1rem;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article li {
  margin-bottom: 1rem;
}

article hr {
  margin-top: 48px;
  margin-bottom: 48px;
}

p a,
article ul a,
article ol a {
  cursor: pointer;
  color: var(--text-color);
}

p a:hover,
p a:active,
article ul a:hover,
article ul a:active,
article ol a:hover,
article ol a:active {
  background: var(--gradient-start);
  background: -webkit-linear-gradient(
    to right,
    var(--gradient-start),
    var(--gradient-end)
  );
  background: linear-gradient(
    to right,
    var(--gradient-start),
    var(--gradient-end)
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

* {
  box-sizing: border-box;
}

blockquote {
  border-left: 4px solid var(--gradient-end);
  padding: 8px 24px;
  margin: 0 auto;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.02rem;
  width: 100%;
  background-color: var(--transparent-bg);
  /* max-width: 600px; */
}

blockquote p {
  line-height: 1.2rem;
}

blockquote a,
blockquote a:hover {
  font-weight: 800;
}

code {
  font-size: 16px;
  background-color: var(--transparent-bg);
  font-weight: 500;
  color: var(--text-color);
  padding: 4px;
  border-radius: 4px;
}

hr {
  height: 3px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.app {
  --background: #f7fafc;
  --card-background: #f7fafc;
  --text-color: rgba(0, 0, 0, 0.87);
  --content-billboard-bg-image: url(/hidden-leaf-village-day.gif);
  --gradient-start: #7317e9;
  --gradient-end: #9f0000;
  --transparent-bg: rgba(114, 191, 242, 0.1);
  background-color: var(--background);
  background-size: 20%;
  color: var(--text-color);
  min-height: 100vh;
  padding-top: var(--header-height);
}

.app.dark {
  --background: #020203;
  --card-background: #020203;
  --text-color: #f7fafc;
  --content-billboard-bg-image: url(/hidden-leaf-village-night.gif);
  --gradient-start: #fb07a9;
  --gradient-end: #f7ff00;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.gradient,
hr {
  background: var(--gradient-start);
  background: -webkit-linear-gradient(
    to right,
    var(--gradient-start),
    var(--gradient-end)
  );
  background: linear-gradient(
    to right,
    var(--gradient-start),
    var(--gradient-end)
  );
}

.gradient-text {
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@media (max-width: 720px) {
  html,
  body {
    font-size: 15px;
  }

  .app {
    padding-top: 0;
  }
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
