.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  padding: 8px 24px;
  background-color: var(--background);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: background-color 0.3s;
  z-index: 10;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
  text-transform: uppercase;
  margin-right: 16px;
}

.nav a {
  position: relative;
  padding: 2px 6px;
  font-weight: 800;
  font-size: 14px;
  margin-left: 8px;
  margin-right: 8px;
  text-decoration: none;
  cursor: pointer;
  color: var(--text-color);
  border-bottom: 3px solid transparent;
}

.nav a:hover {
  border-bottom-color: var(--gradient-start);
}

.logo {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  margin: 0;
}

.logoLink {
  cursor: pointer;
  color: var(--text-color);
}

.navAndToggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuToggle {
  color: var(--text-color);
  background: none;
  border: none;
  display: none;
  padding: 4px;
}

@media (max-width: 720px) {
  .header {
    position: relative;
  }

  .navAndToggle {
    position: fixed;
    left: 0;
    top: 0;

    height: 100%;
    border-right: 1px solid var(--gradient-end);

    flex-direction: column;
    justify-content: flex-start;

    background-color: var(--background);
    padding: 24px 16px;

    transition: 0.2s ease-out;

    transform: translateX(-100%);
  }

  .navAndToggle.showMobileMenu {
    transform: translateX(0);
  }

  .nav {
    margin: 0;
    margin-bottom: 24px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .nav li {
    margin-bottom: 16px;
  }

  .toggle {
    margin: 0;
    margin-bottom: 16px;
    justify-content: flex-end;
  }

  .menuToggle {
    display: block;
    font-size: 24px;
  }
}
